@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Medicine</h2>

<form method="post">

    <div class="mb-3">
        <label>Medicine Name</label>
        <input name="MedicineName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input name="Category" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Manufacturer</label>
        <input name="Manufacturer" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input name="UnitPrice" class="form-control" />
    </div>

    <button class="btn btn-primary">Save</button>

</form>