@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Context.Response.Headers["Cache-Control"] = "no-cache, no-store, must-revalidate";
    Context.Response.Headers["Pragma"] = "no-cache";
    Context.Response.Headers["Expires"] = "0";
}

@model Pharmacy_Manage.Models.User

@{
    var firstName = Model.FullName?.Split(' ')[1];
}
<h5>Welcome @firstName</h5>
<hr />  
<h4>Seasonal Medicine Demand</h4>

<table class="table table-bordered">

    <tr>
        <th>Season</th>
        <th>Top Medicine</th>
        <th>Total Requests</th>
    </tr>

    @foreach (var item in ViewBag.SeasonalData)
    {
        <tr>
            <td>@item.Season</td>
            <td>@item.TopMedicine</td>
            <td>@item.TotalRequests</td>
        </tr>
    }

</table>
