@{
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Context.Response.Headers["Cache-Control"] = "no-cache, no-store, must-revalidate";
    Context.Response.Headers["Pragma"] = "no-cache";
    Context.Response.Headers["Expires"] = "0";
}

@model Pharmacy_Manage.Models.Pharmacist

@{
    var firstName = Model.User.FullName?.Split(' ')[0];
}

<h5>Welcome @firstName</h5>

<hr />

<script src="~/js/pharmacist-dashboard.js"></script>
<script src="~/js/prediction.js"></script>

<h4>Smart Stock Suggestion</h4>

<table class="table table-bordered" id="stockTable">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Current Stock</th>
            <th>Predicted Demand</th>
            <th>Order Quantity</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<button id="btnStock" class="btn btn-danger">Check Stock Suggestion</button>

<script src="~/js/stock.js"></script>